POSTGRES_HOST="postgres"
POSTGRES_USER="nextcloud"
POSTGRES_PASSWORD="<strong password>"
POSTGRES_DB="nextcloud"
NEXTCLOUD_ADMIN_USER="<username>"
NEXTCLOUD_ADMIN_PASSWORD="<strong password>"
NEXTCLOUD_TRUSTED_DOMAINS="<domain1> <domain2> <domain3>"
# Enable https
OVERWRITEPROTOCOL="https"
# If you want to have a different endpoint uncomment below
# OVERWRITEWEBROOT="/nextcloud"